
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse"> <!-- Add collapse in class -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <p class="navbar-text">Bem vindo <%= current_user.name %>!</p>
          <li class="dropdown">
            <% if current_user.has_role? :employee %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Gerenciar</b>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Funcionários', employees_url if current_user.has_role? :manager  %></li>
                <li><%= link_to 'Categorias de Serviços', service_categories_url if current_user.has_role? :manager  %></li>
                <li><%= link_to 'Serviços Prestados', services_url if current_user.has_role? :employee  %></li>
              </ul>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Minha Conta</b>
              <span class="caret"></span>
            </a>
            <ul id="login-dp" class="dropdown-menu">
              <li><%= link_to 'Sair', destroy_user_session_url, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Entrar</b>
              <span class="caret"></span>
            </a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-sm-12">
                    <!--
                      Login via
                      <div class="social-buttons">
                      <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                      <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                      </div>
                      or
                    -->
                    <%= form_for :user, url: :user_session, html: { id: 'login-nav' } do |f| %>

                      <div class="form-group">
                        <%= f.label :email, class: 'sr-only' %>
                        <%= f.text_field :email, class: 'form-control', placeholder: 'e-mail' %>
                      </div>

                      <div class="form-group">
                        <div class="form-group">
                          <%= f.label :password, class: 'sr-only' %>
                          <%= f.password_field :password, class: 'form-control', placeholder: 'senha' %>
                        </div>
                        <div class="help-block text-right">
                          <%= link_to 'Esqueceu a senha?', new_user_password_path %>
                        </div>
                      </div>

                      <div class="form-group">
                        <%= f.submit 'Entrar', class: 'btn btn-primary btn-block' %>
                      </div>

                      <div class="checkbox">
                        <label><%= f.check_box :remember_me %> Lembrar-me</label>
                      </div>
                    <% end %>
                  </div>
                  <div class="bottom text-center">
                    Não tem uma conta? <%= link_to 'Inscreva-se', new_user_registration_path %>
                </div>
                </div>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
